@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-main: "Plus Jakarta Sans", sans-serif;
  --color-blue: #176AE5;
  --color-green: #09982F;
  --color-red: #FF0000;
  --color-warning: #FFA000;
  --color-white: #fff;
  --color-mainText: #0F0F0F;
}